./__pycache__
/0x00-python_variable_annotations/0-main.py
/0x00-python_variable_annotations/1-main.py
/0x00-python_variable_annotations/2-main.py
/0x00-python_variable_annotations/3-main.py
/0x00-python_variable_annotations/4-main.py
/0x00-python_variable_annotations/6-main.py
/0x00-python_variable_annotations/7-main.py
/0x00-python_variable_annotations/8-main.py
/0x00-python_variable_annotations/9-main.py
/0x00-python_variable_annotations/100-main.py
/0x00-python_variable_annotations/101-main.py
/0x00-python_variable_annotations/102-main.py